@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400italic);


.addshoppers div#addshoppers_icon {
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 15px;
	padding-left: 46px;
	float: left;
}
.addshoppers h2 {
	display: inline-block;
}
.addshoppers div.nav-tab-wrapper {
	padding-top: 20px;
	border-bottom: 1px solid #9C9C9C;
}
.addshoppers .nav-tab {
	padding: 8px 10px 6px;
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	border-color: transparent;
	padding-left: 30px;
	background-position: 7px center;
	background-repeat: no-repeat;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.addshoppers .nav-tab-active {
	border-color: #9C9C9C #9C9C9C #FFF;
}
.addshoppers .nav-tab:hover {
	color: #F5801E;
}
.addshoppers .orange_callout {
	border: 1px solid #F5801E;
	border-radius: 7px;
	padding: 5px;
	float: right;
	margin-top: 25px;
	color: #F5801E;
	text-decoration: none;
}
/*
Form stuff
*/
.addshoppers .updated {
	margin-top: 25px !important;
	margin-bottom: 0px !important;
}

.addshoppers form.settings, .addshoppers p.description {
	clear: both;
	font-family: "Droid Sans", 'Helvetica Neue', Arial, sans-serif;
}

.addshoppers .settings th {
	font-size: 20px;
	font-weight: bold;
	width: 250px;
}
.addshoppers .settings tr {
	border-bottom: 1px dashed #BABABA;
}
.addshoppers .settings tr:last-child {
	border-bottom: none;
}
.addshoppers .settings td, .addshoppers .settings th {
	padding-top: 20px;
}

.addshoppers .addshoppers-submit {
	display: block;
	width: 102px;
	height: 25px;
	top: 0px;
	line-height: 23px;
	font-size: 12px;
	background: url('') -2px -2px no-repeat;
	text-shadow: 0px -1px 1px rgba(50, 50, 50, 0.3) !important;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	font-weight: 700;
	color: #FFF;
	outline: none;
}

.addshoppers input[type=text] {
	font-style: italic;
	height: 46px;
	line-height: 46px;
	vertical-align: middle;
	display: block;
	background: #FFF;
	border: 1px #D6D6D6 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666;
	font-size: 17px;
	padding: 0px 20px;
	font-family: 'Droid Serif', serif;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.addshoppers input[type=text]:focus {
	border-color: #F58020;
}

.addshoppers .addshoppers-submit:hover {
	background-position: -2px -29px;
}

.addshoppers .addshoppers-submit:active {
	background-position: -2px -56px;
}

.addshoppers input.network_select[type=checkbox] {
	display:none;
}

.addshoppers input.network_select[type=checkbox] + label {
	background: url('https://d3rr3d0n31t48m.cloudfront.net/widget/images/social_sprite_24.png?v=2') no-repeat;
	height: 24px;
	width: 24px;
	display:inline-block;
	padding: 0 0 0 0px;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.addshoppers input.network_select[type=checkbox]:checked + label{
	opacity: 1;
	filter: alpha(opacity=100);
}

.addshoppers input.network_select.google[type=checkbox] + label {
	background-position: -72px 0;
}
.addshoppers input.network_select.facebook[type=checkbox] + label {
	background-position: -48px 0;
}
.addshoppers input.network_select.twitter[type=checkbox] + label {
	background-position: -96px 0;
}
.addshoppers input.network_select.pinterest[type=checkbox] + label {
	background-position: -144px 0;
}
.addshoppers input.network_select.stumbleupon[type=checkbox] + label {
	background-position: -192px 0;
}
.addshoppers input.network_select.email[type=checkbox] + label {
	background-position: -24px 0;
}
.addshoppers input.network_select.tumblr[type=checkbox] + label {
	background-position: -216px 0;
}
.addshoppers input.network_select.wanelo[type=checkbox] + label {
	background-position: -312px 0;
}
.addshoppers input.network_select.polyvore[type=checkbox] + label {
	background-position: -168px 0;
}
.addshoppers input.network_select.kaboodle[type=checkbox] + label {
	background-position: -120px 0;
}
.addshoppers input.network_select.linkedin[type=checkbox] + label {
	background-position: -264px 0;
}
.addshoppers input.network_select.paypal[type=checkbox] + label {
	background-position: -288px 0;
}